.enter-message-textfield {
    font-size: inherit;
    width: 100%;
    height: 36px;
    border-radius: 4px;
    width: 88%;
    min-height: 36px;
    margin-left: 5px;
    border: 1px solid grey;
    border-radius: 0.4rem;
    padding: 10px 5px;
    background-color: #fff;
    overflow: auto;
    resize: none;
}

.enter-message-textfield:focus {
    outline: none;
    border: 2px solid #3f48cc;
    background-color: white;
}

.sendBtn {
    margin-right: 8px;
    cursor: pointer;
}

.sendBtn:hover {
    cursor: pointer;
    height: 34px;
}
